{% extends "base.html" %} 

{% block css %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
{% endblock css %}

{% block body %}
<main>
    <h1>Global summary of the AiiDA plugin registry</h1>
    <h2 style="padding-top: 0px">Total number of entries: {{ plugins | length }}</h2>
    <div class='globalsummary-box'>
        <div style="display: table;">
            {% for summaryentry in globalsummary %}
            <span class="badge" style="display: table-row; line-height: 2;"> 
                <span style="display: table-cell; float: none; text-align: right;"><span class="badge-left {{summaryentry.colorclass}} tooltip" style="float: none; display: inline; text-align: right; border: none">{{summaryentry.name}}{% if summaryentry.tooltip %}<span class="tooltiptext">{{ summaryentry.tooltip}}</span>{% endif %}</span></span>
                <span style="display: table-cell; float: none; text-align: left;"><span class="badge-right" style="float: none; display: inline; text-align: left; border: none">{{ summaryentry.total_num }} plugin{% if summaryentry.total_num != 1 %}s{% endif %} in {{ summaryentry.num_entries }} entr{% if summaryentry.num_entries != 1 %}ies{%else%}y{% endif %} </span></span>
            </span>
        {% endfor %}
        </div>

    </div>

    <h1>
        Available plugins (alphabetically sorted)
    </h1>

    <div id='entrylist'>
        {% for plugin_name, plugin in plugins.iteritems() %}
        <div class='submenu-entry'>
        <h2><a href="{{ plugin.subpage }}">{{ plugin_name}}: {{ plugin.name }} package</a></h2>
        {% if plugin.setup_json.description %}
        <p class=description>{{plugin.setup_json.description}}</p>
        {% endif %}
        <p class="currentstate">Current state: {{ plugin.state }}</p>
        <p><a href="{{ plugin.code_home }}" target="_blank">Plugin code homepage</a> 
        {% if plugin.hosted_on %}
        <span style="font-size: 90%">(hosted on {{ plugin.hosted_on }})</span>
        {% endif %}
        </p>
        {% if plugin.documentation_url %}
            <p>
                <strong>Documentation</strong>: <a href="{{ plugin.documentation_url }}" target="_blank">Go to plugin documentation</a>
            <p>
        {% else %}
            <p>
                <strong>Documentation</strong>: Documentation not provided by the plugin author
            <p>
        {% endif %}
	{% if plugin.summaryinfo %}
        <p class="summaryinfo">
            {% for summaryinfoelem in plugin.summaryinfo %}
            <span class="badge"> 
                <span class="badge-left {{summaryinfoelem.colorclass}}">{{summaryinfoelem.text}}</span>
                <span class="badge-right">{{summaryinfoelem.count}}</span>
            </span>
            {% endfor %}
        </p>
	{% endif %}
        <p class='details'><a href="{{ plugin.subpage }}">Show plugin details</a></p>
        </div>
        
        {#
            {% if not loop.last %}
            <hr>
            {% endif %} 
        #}
        {% endfor %}
    </div>

</main>
{% endblock body %}
