{% extends "base.html" %} 

{% block css %}
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png">
{% endblock css %}

{% block body %}
<main>
        <h1 class="plugin-header">
            Details for AiiDA plugin &quot;<a href="{{code_home}}">{{name}}</a>&quot;
        </h1>
        <p><a href="../index.html">&lt; Go back to the aiida-registry plugin summary</a></p>

    <h2>General information</h2>
    <div>
        <p>
            Current state:
            <span class="classbox">{{  state }}
                <span class="tooltiptext">
                    {{ state_dict[state] }}
                </span>
            </span>
        </p>

        <p>
            <a href="{{ code_home }}" target="_blank">Go to the plugin code homepage</a> 
        </p>
    </div>

    {% if documentation_url %}
        <p>
            <strong>Documentation</strong>: <a href="{{ documentation_url }}" target="_blank">Go to plugin documentation</a>
        <p>
    {% else %}
        <p>
            <strong>Documentation</strong>: Documentation not provided by the plugin author
        <p>
    {% endif %}


    <h2>
        Detailed information
    </h2>
    {% if setup_json %}
    <div id='description'>
        <p>
            <strong>Author(s)</strong>: {{ setup_json.author }}
        </p>
        <p>
            <strong>Short description</strong>: {{ setup_json.description }}
        </p>
        {%  if pip_url %}
        <p>
            <strong>How to install</strong>: <code>pip install {{ pip_url }}</code>
        </p>
        {% endif %}
        <p>
            <strong>How to use from python</strong>: <code>import {{ package_name }}</code>
        </p>
        <p>
            <strong>Most recent version</strong>: {{ setup_json.version }}
        </p>
        <p>
            <strong>Compatible with aiida-core</strong>: {{ aiida_version }}
        </p>

        {% if summaryinfo %}
        <h3>Summary of the entry points</h3>
        This plugin contains: <br>
        {% for summaryinfoelem in summaryinfo %}
        <span class="badge"> 
            <span class="badge-left {{summaryinfoelem.colorclass}}">{{summaryinfoelem.text}}</span>
            <span class="badge-right">{{summaryinfoelem.count}}</span>
        </span>
        {% endfor %}
        {% endif %}

        <h3>Available entry points</h3>
        {% if setup_json.entry_points %}

            {% for entrypointtype, entrypointlist in setup_json.entry_points.items() %}
                <h4>
                    {% if entrypointtype in entrypointtypes %}
                      {{ entrypointtypes[entrypointtype]}} <span class="entrypointraw">({{ entrypointtype }})</span>
                    {% else %}
                      {{ entrypointtype }}
                    {% endif %}
                </h4>
                <ul>
                {% for entrypoint in entrypointlist %}
                <li><code>{{ entrypoint.split('=')[0].strip() }}</code>
                    <div class="classbox">class<span class="tooltiptext">
                        {{ entrypoint.split('=')[1].strip() }}
                    </span></div></li>
                {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
        <p>No entry points defined for this plugin.</p>
        {% endif %}
    </div>
    {% else %}
    <div id='description'>
        <p>
            Detailed info for this package could not be obtained.
            Ask the plugin developers to check their <code>setup.json</code> file
            in the plugin source code.
        </p>
    </div>
    {% endif %}

</main>

{% endblock body %}

{# Needed because of the different relative path #}
{% block footer_images %}
<div style="text-align: center;"><img src="../static/img/MARVEL.png" height="70px">&nbsp;&nbsp;&nbsp;&nbsp;<img src="../static/img/MaX.png" height="70px"></div>
{% endblock footer_images %}
