name: CI

on:
  schedule:
  # run every at 21:00 UTC
  - cron: "0 21 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    env:
      ENCRYPTION_LABEL: "7712d5cd71ad"
      COMMIT_AUTHOR_EMAIL: deploy@travis-ci.org
    steps:
    - uses: actions/checkout@v1
    - name: Install
      run: cd aiida_registry/ && pip install -r requirements.txt
    - name: make pages
      run: cd aiida_registry/ && ./make_pages.py
    - name: deploy
      run: cd .travis-data/ && ./deploy.sh
