---
# Updates web page on pushes to `master` as well as daily
name: webpage

on:
  schedule:
  # See https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule
  # run every day at 21:00 UTC
  - cron: "0 21 * * *"
  push:
    branches:
      - master



jobs:
  webpage:
    if: github.repository == 'aiidateam/aiida-registry'

    runs-on: ubuntu-latest
    env:
      COMMIT_AUTHOR: Deploy Action
      COMMIT_AUTHOR_EMAIL: action@github.com
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install prerequisites
      run: pip install --upgrade wheel setuptools
    - name: Install
      run: pip install -e . -v
    - name: fetch metadata
      id: fetch_metadata
      run: aiida-registry fetch
    - name: Create commit comment
      if: steps.fetch_metadata.outputs.error
      uses: peter-evans/commit-comment@v1
      with:
        path: plugins.json
        body: |
          Some issues were noted while fetching plugin metadata
          ${{ steps.fetch_metadata.outputs.error }}
    - name: Report warnings
      run: '(test -f README && echo README exists) || echo README does not exist, skipping step'
    - name: make pages
      run: aiida-registry html
    - name: commit to gh-pages
      run: ./.github/commit.sh
    - name: push changes
      uses: ad-m/github-push-action@v0.5.0
      with:
        branch: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
